
<table border="1">
    <tr>
        <td colspan="2">
            Fighters:
        </td>
    </tr>
    <tr>
        <td>
            {{battle.fighter_one}}
            <form action="{% url 'vote' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="battle" type="hidden" value="{{ battle.id }}">
                <button name="fighter" type="submit" value="{{battle.fighter_one.id}}">Vote</button>
            </form>
        </td>
        <td>
            {{battle.fighter_two}}
            <form action="{% url 'vote' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="battle" type="hidden" value="{{ battle.id }}">
                <button name="fighter" type="submit" value="{{battle.fighter_two.id}}">Vote</button>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Descr:
        </td>
    </tr>
    <tr>
        <td>
            {{battle.fighter_one.description}}
        </td>
        <td>
            {{battle.fighter_two.description}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Vote:
        </td>
    </tr>
    <tr>
        <td>
            {{battle.fighter_one.vote_set.count}}
        </td>
        <td>
            {{battle.fighter_two.vote_set.count}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Images:
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{battle.fighter_one.image.url}}">
        </td>
        <td>
            <img src="{{battle.fighter_two.image.url}}">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Latest comments:
        </td>
    </tr>
    <tr>
        <td>
            <ul>
            {% for comment in latest_comment_fighter_one %}
                <li>{{ comment.creator }}: {{ comment.description }} ({{ comment.date_updated }})</li>
            {% endfor %}
            </ul>
            <form action="{% url 'new_comment' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="battle" type="hidden" value="{{ battle.id }}">
                <input name="fighter" type="hidden" value="{{battle.fighter_one.id}}">
                <input name="description" type="text">
                <button type="submit">Comment</button>
            </form>
        </td>
        <td>
            <ul>
            {% for comment in latest_comment_fighter_two %}
                <li>{{ comment.creator }}: {{ comment.description }} ({{ comment.date_updated }})</li>
            {% endfor %}
            </ul>
            <form action="{% url 'new_comment' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="battle" type="hidden" value="{{ battle.id }}">
                <input name="fighter" type="hidden" value="{{battle.fighter_two.id}}">
                <input name="description" type="text">
                <button type="submit">Comment</button>
            </form>
        </td>
    </tr>
</table>
