{% if request.user.is_authenticated %}

{% if error %}
    <h1 style="color: red;">{{ error }}</h1>
{% endif %}

<form action="{% url 'new' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Figther 1</legend>
        {{ fighter1.as_p }}
    </fieldset>

    <fieldset>
        <legend>Figther 2</legend>
        {{ fighter2.as_p }}
    </fieldset>

    <p>&nbsp;</p>
    <input type="submit" value="Create battle" />
</form>

{% else %}
    {% load socialaccount %}
    <a href="{% provider_login_url "facebook" method="oauth2" next="/new/" %}">Login</a>
{% endif %}
