User profile page:
 Os lutadores que o usuário já criou
 As últimas 10 batalhas que o usuário criou
 Os últimos 10 comentários que o usuário fez
 Os últimos 10 votos que o usuário fez

<br />

Battles.id:
{% for battle in latest_battles %}
    {{ battle.id }}<br />
{% endfor %}

<br />

Fighters:
{% for fighter in latest_fighters %}
    {{ fighter.name }}<br />
{% endfor %}

<br />

Comments:
{% for comment in latest_comments %}
    {{ comment.fighter }}: {{ comment.description }}<br />
{% endfor %}

<br />

Votes:
{% for vote in latest_votes %}
    {{ vote.battle.id }} - {{ vote.fighter.name }}<br />
{% endfor %}
